body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    color: plum;
}

h1 {
    text-align: center;
}

footer {
    background-color: plum;
    text-align: center;
}

#download {
    color: white;
}